
.container-liste {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.les-differentes-voitures {
  display: flex;
  justify-content: space-between;
}
.les-differentes-voitures img {
  width: 400px;
}
.wrap-items-voitures {
  margin-top: 60px;
}